@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
  }
  
  img:hover {
    scale: 105%;
  }

  /* Tambahkan ke file CSS global Anda atau sebagai inline styles */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in-visible {
    opacity: 1;
  }
  